<%- include ('partials/navBar') %>

  <main class="container mt-4 d-flex">
    <div class="container-fluid">
      <div class="row">
        <%- include ('partials/sideNav') %>
          <!-- Main Content -->
          <div class="main_container col-md-9 p-3">
            <h2>Liste des événements</h2>
            <p>Nombre d’événements : <%=events.length %>
            </p>
            <table class="table table-striped text-center fw-medium">
              <thead>
                <tr>
                  <th>#id</th>
                  <th>Nom</th>
                  <th>Date</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% events.forEach((event)=> { %>
                  <tr>
                    <td>
                      <%= event.id %>
                    </td>
                    <td>
                      <%= event.name %>
                    </td>
                    <td>
                      <%= new Date(event.date).toLocaleDateString('fr') %>
                    </td>
                    <td class="fw-bold text-gray-900">
                      <a href="/admin/events/<%=event.id%>" class="btn btn-link text-decoration-none"><img
                          src="/logos/edit-2.svg" alt="Modifier"> Modifier</button></a>
                    </td>
                    <td>
                      <button class="btn btn-danger event-delete_btn" data-event-id="<%=event.id %>"><img
                          src="/logos/trash-2.svg" alt="supprimer"> Supprimer</button>
                    </td>

                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>