<%- include ('partials/navBar') %>

  <main class="container mt-4 d-flex">
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-3 d-flex flex-column p-3 border-right">
          <div class="mb-4">
            <h3>Utilisateurs</h3>
            <a href="#" class="d-block mb-2 text-dark text-decoration-none">En attente de validation</a>
            <a href="/admin/users" class="d-block text-dark text-decoration-none">Tous les membres</a>
          </div>
          <div>
            <h3>Événements</h3>
            <a href="#" class="d-block mb-2 text-dark text-decoration-none">Liste</a>
            <a href="#" class="d-block text-dark text-decoration-none">Créer</a>
          </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 p-3">
          <h2>En attente de validation</h2>
          <% if(locals.displayAll) {%>
            <p>Nombre d'utilisateurs : <%= users.length %>
            </p>
            <% } else {%>
              <p>Nombre à inspecter : <%= users.length %>
              </p>
              <% } %>

                <table class="table table-striped text-center">
                  <thead>
                    <tr>
                      <th>#id</th>
                      <th>Nom</th>
                      <th>Age</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% users.forEach((user)=> { %>
                      <tr>
                        <td>
                          <%= user.id %>
                        </td>
                        <td>
                          <%= user.name %>
                        </td>
                        <td>
                          <%= user.age %>
                        </td>
                        <td class="fw-bold text-gray-900"
                          style="background-color: <%= user.status === 'active' ? 'rgba(0, 128, 0, 0.5)' : user.status === 'pending' ? 'rgba(255, 255, 0, 0.5)' : 'rgba(255, 0, 0, 0.5)' %>">
                          <%= user.status.toUpperCase() %>
                        </td>
                        <td>
                          <a href="#" class="btn btn-link text-decoration-none">Inspecter</a>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
        </main>
      </div>
    </div>
  </main>